fastapi >= 0.115.4
pydantic >= 2.9.2
pydantic-settings >= 2.6.1
sqlalchemy[asyncio] >= 2.0.36
asyncpg >= 0.30.0
fastapi-cli[standard] >= 0.0.5
uvicorn[standard] >= 0.12.0
PyJWT >= 2.9.0
argon2-cffi >= 23.1.0
python-multipart >= 0.0.17